<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.CarMapper" >

<select id="queryCar" resultType="java.util.LinkedHashMap">
  SELECT COUNT(*) y,DATE_FORMAT(carTime,'%m') 月份 FROM t_car WHERE YEAR(carTime)=2019 GROUP BY DATE_FORMAT(carTime,'%m')
</select>

  <select id="areaCar" resultType="java.util.LinkedHashMap">
    SELECT carName name,count(*) data FROM t_car GROUP BY carName,DATE_FORMAT(carTime,'%Y')
  </select>

  <select id="queryCarAll" resultType="java.util.LinkedHashMap">
    SELECT count(*) count,DATE_FORMAT(carTime,'%Y-%m') time,typeId FROM t_car c GROUP BY c.typeId,DATE_FORMAT(carTime,'%Y-%m')
  </select>

</mapper>