<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="addCarForm">
    <table>
        <tr>
            <td>汽车名称</td>
            <td>
                <input type="text" name="carName" class="easyui-textbox" style="width: 150px">
            </td>
        </tr>
        <!--<tr>
            <td>生产日期</td>
            <td>
                <input  type= "text" class= "easyui-datebox" name="carTime" style="width: 150px"> </input>
            </td>
        </tr>-->
        <tr>
            <td>汽车价格</td>
            <td>
                <input type="text" name="carPrice" class="easyui-textbox" style="width: 150px">
            </td>
        </tr>
    </table>
</form>
</body>
</html>