<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-1.8.0.js"></script>
    <link rel="stylesheet" type="text/css" href="../js/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../js/easyui/themes/icon.css">
    <script type="text/javascript" src="../js/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/easyui/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<a id="btn" href="javaScript:openAddDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增</a>
<table id="dg"></table>
<div id="addCarId"></div>

<div id="updCarId" class="easyui-dialog" title="汽车信息修改" style="width:300px;height:200px;"
     data-options="iconCls:'icon-save',resizable:true,closed:true,modal:true,buttons:[{
				text:'保存',
				handler:function(){
					updCar();
				}
			}]">
    <form id="updform">
        <input type="hidden" name="carId">
        <table align="center">
            <tr>
                <td>汽车名称</td>
                <td><input class="easyui-textbox" name="carName"></td>
            </tr>
            <tr>
                <td>汽车价格</td>
                <td>
                    <input class="easyui-textbox" name="carPrice"></td>
                </td>
            </tr>
        </table>
    </form>
</div>

<script>
    $(function(){
        initCar();
    })

    function openAddDialog(){
        $('#addCarId').dialog({
            title: '新增汽车信息',
            width: 400,
            height: 170,
            closed: false,
            cache: false,
            href: '../toAddCar',
            modal: true,
            buttons:[{
                text:'保存',
                handler:function(){
                    $.ajax({
                        url:"../addCar",
                        data:$("#addCarForm").serialize(),
                        type:"post",
                        success:function () {
                            $.messager.show({
                                title:'新增成功！！！',
                                msg:'消息将在2秒后关闭。',
                                timeout:2000,
                                showType:'slide'
                            });
                            $('#dg').datagrid('reload');
                            $('#addCarId').dialog('close');
                        },
                        error:function () {
                            alert("程序出错了！");
                        }
                    })
                }
            },{
                text:'关闭',
                handler:function(){
                    $('#addCarId').dialog('close');
                }
            }]
        });
    }

    function initCar() {
        $('#dg').datagrid({
            url:'../queryCarList',
            fitColumns:true,
            striped:true,
            ctrlSelect:true,
            method:"post",
            loadMsg:"数据库加载中。。。。。。。。。。。。。。。。。。",
            pagePosition:"bottom",
            onLoadSuccess:function(){
                $('[name="updbtn"]').linkbutton({
                    iconCls: 'icon-edit'
                });
                $('[name="delbtn"]').linkbutton({
                    iconCls: 'icon-remove'
                });
            },
            columns:[
                [
                    {field:'carId',title:'编号',width:100,align:'center'},
                    {field:'carName',title:'汽车名称',width:100,align:'center'},
                    {field:'carTime',title:'生产日期',width:100,align:'center',
                        formatter: function(value,row,index){
                            var date =new Date(value);
                            var tol=date.toLocaleDateString(date);
                            return tol;
                        }
                    },
                    {field:'carPrice',title:'汽车价格',width:100,align:'center'},
                    {field:'1',title:'操作',width:100,align:'center',
                        formatter: function(value,row,index){
                            return '<a name="updbtn" href="javaScript:queryCarById('+row.carId+')">修改</a> | <a name="delbtn" href="javaScript:delCar('+row.carId+')">删除</a>';
                        }
                    }
                ]
            ]
        });
    }

    function queryCarById(id) {
        $.ajax({
            url:"../queryCarById",
            data:{carId:id},
            success:function (data) {
                $("#updform").form('load',data);
                $('#updCarId').dialog('open');
            },
            error:function () {
                alert("程序出错了！");
            }
        })
    }

    function updCar() {
        $.ajax({
            url:"../updCar",
            data:$("#updform").serialize(),
            success:function () {
                $('#dg').datagrid('reload');
                $('#updCarId').dialog('close');
            },
            error:function () {
                alert("程序出错了！");
            }
        })
    }

    function delCar(id) {
        $.ajax({
            url:"../delCar",
            data:{carId:id},
            success:function () {
                $.messager.show({
                    title:'删除成功！！！',
                    msg:'消息将在2秒后关闭。',
                    timeout:2000,
                    showType:'slide'
                });
                $('#dg').datagrid('reload');
            },
            error:function () {

            }
        })
    }
</script>
</body>
</html>